/* ----------------------------------------------------------- */

/* BASIC SETUP */

/* ----------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: #fff;
    color: #555;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.chapter {}

/* ----------------------------------------------------------- */

/* REUSABLE COMPONENTS */

/* ----------------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

h1 {
    margin-top: 0;
    margin-bottom: 7px;
    color: #555;
    ;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #555;
    ;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 7px;
    color: rgba(112, 111, 111, 0.6);
    font-size: 150%;
    font-weight: 700;
    letter-spacing: 7px;
    word-spacing: 2px;
}

.chapter h1 {
    position: relative;
    width: 1140px;
    top: 20%;
    left: 100%;
    transform: translate(-50%, -50%);
    color: #000;
}

/* -------- BUTTONS -------- */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.4s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

/* ----------------------------------------------------------- */

/* HEADER */

/* ----------------------------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/car.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 50px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style-type: none;
    margin-top: 35px;
}

.main-nav li {
    display: inline-block;
    margin-left: 70px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    letter-spacing: 2px;
    word-spacing: 1px;
    border-bottom: 2px solid transparent;
    padding: 8px 0;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* ----------------------------------------------------------- */

/* PROJECTS */

/* ----------------------------------------------------------- */

.chapter-projects {
    /* background: #c7c4c4; */
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url(img/stone.png);
    height: 100vh;
    color: #999;
}

.plan-box {
    background-color: #555;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 4px 10px #727272;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #e9d9c3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-box ul {
    list-style-type: none;
}

.plan-box ul li {
    padding: 5px 0;
}