@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

/* color: #436db1; DARK BLUE */

/* -----------------------------------------------
    BASIC SETUP
 ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    letter-spacing: 10px;
    margin: 20px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.row {
    width: 1220px;
    margin: auto;
}

/* -----------------------------------------------
    REUSABLE CODE
 ----------------------------------------------- */


.btn__hero:link,
.btn__hero:visited {
    font-weight: 300;
    position: absolute;
    top: 70.07%;
    left: 50.47%;
    transform: translate(-50%, -50%);
    font-size: 100%;
    text-decoration: none;
    color: rgb(202, 222, 228);

    font-weight: 700;
    border: 1.5px solid #88A2AA;
    border-radius: 100px;
    padding: 20px 15px;
    background: #CE000D;

    letter-spacing: 5px;
    transition: .6s;
    text-transform: uppercase;


}

.btn__hero:hover,
.btn__hero:active {
    font-weight: 300;
    position: absolute;
    top: 70.07%;
    left: 50.47%;
    font-size: 100%;
    transform: translate(-50%, -50%);
    font-size: 100%;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    border: 1px solid #ebebeb;
    border-radius: 100px;
    padding: 20px 15px;
    background: #e43c12;
    letter-spacing: 5px;

}

/* -----------------------------------------------
    HEADINGS
 ----------------------------------------------- */

h1 {
    font-weight: 300;
    letter-spacing: 10px;
    font-size: 200%;
}


h2 {
    font-weight: 300;
    font-size: 250%;
    text-align: center;
    color: #436db1;


}

h2:after {
    display: block;
    height: 2px;
    background-color: #28587B;
    content: " ";
    width: 250px;
    margin: 0 auto;
    margin-top: 30px;
}

h4 {
    color: #fff;
    text-align: center;
    font-weight: 300;
}

section {
    padding: 20px;
}

/* -----------------------------------------------
    HEADER
 ----------------------------------------------- */

.header {
    /* background-image: linear-gradient(to right, #f85032, #e73727, #e73727fa) /*url(img/usflagb.jpeg) */
    /* background-image: linear-gradient(to right, #f85032, #e73727); */

    background-color: #28587B;
    
    height: 95vh;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    background-size: contain;
    background-position: top;
}

.nav__main {
    float: left;
    list-style-type: none;
    margin-top: 10px;
}

.nav__main li {
    display: inline-block;
    margin-right: 40px;
}

.nav__main li a:link,
.nav__main li a:visited {
    text-decoration: none;
    color: #ebebeb;
    font-size: 80%;
    letter-spacing: 4px;
    border: 1px solid #ebebeb;
    border-radius: 100px;
    padding: 10px 15px;
    border: transparent;
    transition: border .1s;
}

.nav__main li a:hover,
.nav__main li a:active {
    text-decoration: none;
    color: #28587B;
    font-size: 80%;
    letter-spacing: 4px;
    border: 1px solid #28587B;
    border-radius: 100px;
    padding: 10px 15px;
    background: #EEEEFF;

}



.header h1 {
    font-weight: 300;
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
    letter-spacing: 10px;
    font-size: 200%;
}

.header h2 {
    font-weight: 300;
    position: absolute;
    top: 50.07%;
    left: 30.47%;
    transform: translate(-50%, -50%);
    letter-spacing: 26.5px;
    font-size: 100%;
}

.header h3 {
    font-weight: 300;
    position: absolute;
    top: 50.07%;
    left: 30.4%;
    transform: translate(-50%, -50%);
    letter-spacing: 26.5px;
    font-size: 100%;
}



/* -----------------------------------------------
    PILARES
 ----------------------------------------------- */

.section__pilares {
    height: 100vh;
}


.pilares__cards {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    font-size: 110%;
    line-height: 200%;
    margin-top: 40px;


}

.pilares__cards-1 {
    /* background-image:  linear-gradient( rgb(243, 68, 15),rgb(243, 68, 15), rgb(65, 87, 128)); */
    /* background-image: linear-gradient(to bottom, #88A2AA, #88A2AA) */
        /* url(img/usflagb.jpeg) */
    background-color: #28587B;
    padding: 40px 10px;
    border-radius: 7px;
    height: 400px;
    width: 25%;
    box-shadow: 0 7px 12px 0px #0F1A20;
    display: flex;
    align-items: center;
    justify-content: center;


}

.pilares__cards-2 {
    
    background-color: #88A2AA;
    padding: 40px 10px;
    border-radius: 7px;
    height: 400px;
    width: 25%;
    box-shadow: 0 7px 12px 0px #0F1A20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pilares__cards-3 {
    /* background-image: linear-gradient(to bottom, #e73727, #f85032)
        /*url(img/usflagb.jpeg)*/
    
        background-color: #28587B;
    padding: 40px 10px;
    border-radius: 7px;
    height: 400px;
    width: 25%;
    box-shadow: 0 7px 12px 0px #0F1A20;
    display: flex;
    align-items: center;
    justify-content: center;

}

.quote {
    letter-spacing: 3px;
    word-spacing: 5px;
    margin: 130px  30px 20px 30px;
    font-weight: bolder;
    font-size: 150%;

}

